@font-face {
  font-family: 'Bebas';
  src: url(../assets/fonts/Bebas-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Courier';
  src: url(../assets/fonts/CourierPrime-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Courier';
  src: url(../assets/fonts/CourierPrime-Bold.ttf);
  font-weight: bold;
}
