body {
  background: #191b20;
}

.rjsf {
  background: #191b20 !important;
  margin-top: 30px;

  .ant-form-item-label {
    margin-top: 0;

    label[for="root-title"] {
      font-family: "Courier" !important;
    }
  }

  span,
  label {
    color: #c4c6c9 !important;
  }

  .form-group {
    .ant-form-item-label {
      padding: 0 0 2px;
      label {
        font-family: "Bebas";
        font-size: 16px;
      }
    }

    input {
      background: transparent;
      border: 1px solid #5c5b61 !important;
      border-radius: 4px;
      border: none;
      height: 36px;
      color: white !important;
      font-family: "Courier";
      font-weight: normal;
      font-size: 14px;

      &::placeholder {
        color: #5c5b61;
      }
    }
  }
}
